{% extends 'layout.html' %}

{% block content %}
{% include 'header.html' %}
<section id="about-page">
  <h2>About</h2>
  <p>
    I am an American multidisciplinary designer based in Austin, Texas with twenty plus years experience working primarily in print and interactive mediums. My body of work ranges from projects for global technology companies such as AOL, Cisco, HP, and Yahoo to projects for small startups such as BusinesSuites, Insightly, LeadsCon, and Storm Ventures.
  </p>
  <p>
    I graduated from California Institute of the Arts with a Bachelor's Degree in Visual Communications. Post graduation I began his career with two internships in Holland and then as a junior graphic designer in Hollywood, California. As new media and the internet emerged in the '90s I moved to the San Francisco Bay Area and embraced new technology while driving efforts on cutting edge communication platforms. Over the course of my career I have worked in both analog and digital environments and have participated on projects as large as the brand identity for the European Union.
  </p>
  <p>
    I define design as the ability to control a medium and apply thoughtful and responsive messaging which communicates effectively. With this intent I have developed above average skills over the years for all necessary production, design, and management needs in print and interactive arenas.
  </p>
</section>
{% endblock %}
